

<table class = 'table table-hover table-inverse'>
  <thead>
    <tr class = 'table-secondary'>
      <th></th>
      <th>ユーザーネーム</th>
    </tr>
  </thead>

  <tbody>
    <% customers.each do |customer| %>

      <tr>
        <td>
          <%= link_to customer_path(customer.id) do %>
            <%= image_tag customer.get_profile_image(70, 70) %>
          <% end %>
        </td>
        <td>
          <%= customer.nickname %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="mt-5 offset-3">
  <%= paginate customers %>
</div>