<div class = 'container' >
  <div class = 'row' >
    <div class = "mx-auto col-sm-12 mt-sm-5 text-center">
      <% if customer_signed_in? %>
        <h3>ようこそ、PiCookingへ！</h3><br><br>
        <p>料理が好きな人や食べることが好きな人がが作ったものや</p>
        <p>食べた美味しかったものを投稿するレビューサイトです。</p>
      <% else %>
        <h3>ようこそ、PiCookingへ！</h3><br><br>
        <p>料理が好きな人や食べることが好きな人がが作ったものや</p>
        <p>食べた美味しかったものを投稿するレビューサイトです。</p>
        <p class = 'mb-sm-5'>閲覧のみのゲストログインを希望の方は「ゲストログイン」をクリックしてください。</p>
        <p><%= link_to "ゲストログイン（閲覧用）", customers_guest_sign_in_path, method: :post, class: "btn btn-primary px-sm-2" %></p>
        <p><%= link_to "ログイン画面へ", new_customer_session_path, class: "btn btn-success px-sm-5" %></p>
      <% end %>
    </div>
  </div>
</div>




