<div class = 'container' >
  <div class = 'row' >
    <%#div class="card" style="background-size:cover;"%>

      <%#img class="card-img " src="/assets/top.jpg" alt=""%>
      <%#div class="card-img-overlay"%>
        <h5>ようこそ、PiCookingへ！</h5><br>
        <p><%= link_to "ゲストログイン（閲覧用）", customers_guest_sign_in_path, method: :post %></p><br>
        <p><%= link_to "ログイン画面へ", new_customer_session_path %><p>
      <%#/div%>
    <%#/div%>
  </div>
</div>




