

<div class="card" style="background-size: '200x150'>

  <img class="card-img " src="/assets/top.jpeg" alt="">
  <div class="card-img-overlay">
    <h5 class: 'text-light'>
      ようこそ、PiCookingへ！
    </h5>
  </div>
</div>

<div>
  <%= link_to "ゲストログイン（閲覧用）", customers_guest_sign_in_path, method: :post %>
</div>

<div>
  <%= link_to "ログイン画面へ", new_customer_session_path %>
</div>
